<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>밤학교에서 - 라디오 설치</title>
    <meta http-equiv="refresh" content="3;url=/fifth_floor_radio_options">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Noto Sans KR', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .message {
            font-size: 2em;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='shared_ui.css') }}">
</head>
<body>
    <div class="message">
        <p>라디오를 설치한다.</p>
    </div>
</body>
</html>